<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Final0105.Properties.Settings.M11105504ConnectionString"
            connectionString="Data Source=140.118.105.174,14330;Initial Catalog=M11105504;Persist Security Info=True;User ID=M11105504;Password=6250233"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>